<!DOCTYPE html>

<head>

    <title>
        <%=data.title%>
    </title>

    <%- include('./partials/head'); %>
        <!-- external css link / -->
        <link rel="stylesheet" href="/css/superAdmin.css" />
</head>

<body id="body-pd">

    <section>
        <!-- Nav Bar -->
        <%- include('./partials/header'); %>
            <div class="container">
                <div class="container-fluid">
                    <h2 class="text-center">
                        <%= data.title %>
                    </h2>
                    <ul>
                        <li><a href="/admin/question/add">Add Questions</a></li>
                        <li><a href="/admin/testseries/create">Add Test Series</a></li>
                        <li><a href="/admin/testseries">View Test Series</a></li>
                    </ul>
                </div>
            </div>
            </div>
    </section>
    <!--Container Main start-->

    <div class="container-fluid py-4">
        <div class="row features">
            <div class="feature-box col-lg-3 ">
                <i class="icon fas fa-users fa-3x" style="color:#ffc849"></i>
                <h6>Total Users.</h6>
                <h5>50+</h5>
            </div>
            <div class="feature-box col-lg-3">
                <i class="icon fas fa-pen-to-square fa-3x" style="color:#3343b7"></i>
                <h6>Total test taken by Users</h6>
                <h5>100+</h5>
            </div>
            <div class="feature-box col-lg-3">
                <i class="icon fas fa-book fa-3x" style="color:#f6476a"></i>
                <h6>Total topics covered</h6>
                <h5>30+</h5>
            </div>
        </div>
    </div>
    <!-- Main end--------------- -->
    <%- include('./partials/footer'); %>
</body>

</html>


<!-- quill.root.innerHTML.split(' ').join(' &nbsp;') -->