<!DOCTYPE html>

<html>

<head>
    <title>
        <%=data.title%>
    </title>
    <meta name="description" content="">
    <%- include('./partials/head'); %>
        <link rel="stylesheet" href="/css/view_result.css" />
</head>

<body id="body-pd">
    <%- include('./partials/header'); %>
        <!--Container Main start-->
        <div class="row px-0">

            <!-- ------------------------------------------------------------ -->
            <% if (testTakenList.length>=1) { %>
                <div class="col-lg-12 px-4 shadow-sm my-4 rounded ">

                    <div class="d-flex align-items-center mt-3">
                        <div class="ps-2 search-box shadow">
                            <!-- <button class="btn shadow-sm px-3 text-clack ">
                            <i class="fa-solid fa-search pe-2"></i>Search</button> -->
                            <input class="search-txt" type="text" name="" placeholder="Search" style="border: none;">
                            <a class="search-btn" href="#"></a>
                            <i class="fa-solid fa-search pe-2"></i>

                        </div>

                        <div class="dropdown">
                            <a class="btn shadow btn-sm fs-6 py-0 dropdown-toggle" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Filter
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Date</a></li>
                                <li><a class="dropdown-item" href="#">Topic Name</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">Subject Name</th>
                                    <th scope="col">Series Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Total Score</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% let i=0 %>
                                    <% for(test of testTakenList){%>

                                        <tr onclick="window.location='/result/<%=test._id%>';" style="cursor: pointer;"
                                            class="effect">

                                            <td scope="row" class="content-tag">
                                                <p style="font-weight: bold;">
                                                    <%=test.subjectid.title%>
                                                </p>
                                                <p class="fs-7">
                                                    <%=test.testid%>
                                                </p>
                                            </td>
                                            <td class="content-tag py-4 new">
                                                <%=test.testseriesid.title%>
                                            </td>
                                            <td class="content-tag py-4 date"></td>

                                            <td class="content-tag py-4">
                                                <%=test.score%>/<%=list[i++].length%>
                                            </td>

                                        </tr>

                                        <%}%>
                            </tbody>
                        </table>

                    </div>
                    <!-- ajax ggogle api -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <script>

                        var unformatedDate = new Date(`<%- test.createdAt%>`);

                        $(".date").append(formatDate(unformatedDate));
                        function formatDate(nowDate) {
                            return nowDate.getDate() + "/" + (nowDate.getMonth() + 1) + '/' + nowDate.getFullYear();
                        }



                    </script>
                </div>
                <%}else{%>
                    <div class="col-lg-12 px-4 shadow-sm my-4 rounded text-center ">
                        <img src="/images/kingdom-list-is-empty.png" alt="Empty bin" style="max-width: 400px;"
                            class="empty">
                        <p style="font-weight: 500;">Waiting for you to take down a test</p>
                    </div>
                    <%}%>
        </div>
        <!--Container Main end-->

        <%- include('./partials/footer'); %>
</body>

</html>